

/* =================================================================== BOXES ===================================================================*/

/* --------------------------------------------------------------------- BOXES MENU */
.boxes_menu_btn {
    width: 50px;
    height: 50px;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 5px;
    padding: 5px;
}

.boxes_menu_btn:hover {
    background-color: rgba(173, 216, 230, 0.3);
    border: 2px solid var(--interface-color-6);
    stroke: var(--interface-color-6);
    fill: var(--interface-color-6);
}

/* --------------------------------------------------------------------- BOXES MENU  - END*/

.box:hover {
    cursor: pointer;
    /* transform: scale(1.2); */
}

.box:hover  .box_painted_out{
    fill: var(--interface-color-4) !important;
}
.box:hover  .box_painted_inside{
    fill: var(--interface-color-2) !important;
}

.box-active  {
    stroke: lightgoldenrodyellow;
}


.box_painted_out {
    fill:goldenrod;
}

.box_painted_inside {
    fill:darkgoldenrod;

}


.box_empty .box_painted_card_1,
.box_empty .box_painted_card_3,
.box_empty .box_painted_card_2 {
    fill: transparent !important;
}
.box_empty .box_painted_svg {
    fill: var(--interface-color-4) !important;
}
.box_empty .box_painted_out{
    fill: darkgrey !important;
}

.box_empty .box_painted_inside
{
    /* stroke-width: 1px; */
    /* stroke: black !important;  */
    fill: grey !important;
}


.box_overloaded .box_painted_svg,
.box_overloaded .box_painted_out,
.box_overloaded .box_painted_inside {
    /* stroke: rgb(83, 16, 16) !important; */
    fill: darkred !important;
}

.box_overloaded .box_painted_inside {
    fill: rgb(83, 16, 16) !important;
}

.box-active.box_overloaded .box_painted_svg,
.box-active.box_overloaded .box_painted_out,
.box-active.box_overloaded .box_painted_inside ,
.box_overloaded:hover .box_painted_svg,
.box_overloaded:hover .box_painted_out,
.box_overloaded:hover .box_painted_inside {
    stroke: darkred !important;
}

.box_badge_item {
    position: relative;
    min-width: 30px;
    min-height: 30px;
    /* background-color: lightgoldenrodyellow; */
    border: 2px solid var(--interface-color-2);
    color: var(--interface-color-2);
    border-radius: 30px;
    padding: 3px;
    border: 2px solid transparent; 
    box-shadow: 0 0 5px var(--interface-color-3); /* розпливчаста тінь */
}

.box_badge_item:hover{
    
     border: 2px solid var(--interface-color-4);
    background-color: var(--interface-color-2);
    color: var(--interface-color-4);
}

.box_badge_item:active{
    background-color: var(--interface-color-2);
    border-color: var(--interface-color-4);
    color: var(--interface-color-4);
}

.box_badge_item::after {
  content: attr(data-tooltip); /* бере текст із атрибуту */
  position: absolute;
  width: 150px;
  left: 50%;
  top: 40px;
  transform: translateX(-50%);
  background: white;
  color: var(--interface-color-2);
  border: 2px solid var(--interface-color-2);
  padding: 5px;
  border-radius: 5px;
  opacity: 0;
  transition: 0.3s;
  white-space: nowrap;
  box-shadow: 5px 5px 10px var(--interface-color-2);
  overflow: hidden;          /* текст не вийде за межі блоку */
  word-wrap: break-word;     /* переносить довгі слова */
  white-space: normal;  
  z-index: 100;
}

.box_badge_item:hover::after {
  opacity: 1;
}

.box_badge {
    display: flex;
    color: gray;
    border-width:3px ;
    border-radius: 30px;
    padding: 5px;
    align-items: center;
    width: 100%;
    text-align: center;
    justify-content: center;
    display: none;
}

.box:hover .box_badge {
    display: flex;  
    justify-content: space-around; 
}

.block_badge {
    position: fixed;
    z-index: 100;
    bottom: 0 ;
    left: 0;
    opacity: 0;
    /* transition: all 0.3s ease; */
    border: 1px solid lightgray;
    /* color: var(--interface-color-6); */
    border-radius: 5px;
    text-shadow: 1px 1px  var(--interface-color-2);
    box-shadow: 2px 2px 2px 2px var(--interface-color-7);
    padding: 5px;
    background-color: var(--interface-color-6);
    color: lightgray;
}

.block_badge_show {
  opacity: 1;
  /* transform: translate(-50%, 3%); */
  transition: all 0.3s ease;
}


/* BOXES ================================================================= */




/* ==================================================================================================== SLIDE BLOCK ============================================================================================================= */
.slide_block {
    z-index: 1000;
  position: fixed;        /* зафіксований внизу екрана */
  top: -100%; 
  left: -100%;
  width: 50%;
  background-color: darkgray;
  /* background-color: var(--interface-color-4); */
  /* color: var(--interface-color-2); */
  text-align: center;
  padding: 20px 0;
  box-shadow: 0 -2px 10px var(--interface-color-3);
  transition:1.5s ease; /* плавний ефект */
  border: 2px solid rgb(107, 0, 0);
  border-left: none;
  border-top: none;
  /* height: 400px; */
  border-radius: 0 0 30px;
}

@media (max-width: 768px) {
  .slide_block {
    width: 100%;
  }
}

/* клас для показу блоку */
.slide_block.slide_block_show {
  top: 0;
  left: 0; /* при показі піднімаємо блок на видиму позицію */
}

.slide_block_wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    margin-top: 50px;
}

.slide_block_btn_close  {
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: 13px;
    right: 13px;
    cursor: pointer;
    z-index: 1000;
    
    /* box-shadow: 3px 3px 3px var(--interface-color-3); */
}

.slide_block_btn_close svg {
    fill: lightgray;
    stroke: var(--interface-color-6);
    stroke-width:5;
}


.slide_block_btn_close:hover svg {
    fill: var(--interface-color-7);
    stroke: var(--interface-color-6);
    stroke-width:5;
}

.slide_block_btn_close:active svg {
    fill: white;
    stroke: var(--interface-color-6);
    stroke-width:5;
}

.slide_block_btn_close:hover {
    fill: yellow ;
    stroke: green;
}

/* =========================================================================================== STUDY LIST ================================================================================================ */
.study_menu {
    display: flex;
    justify-content: flex-start;
}

.study_menu_btn {
    width: 100px;
    height: 100px;
    margin: 20px;
    background-color: lightgray;
    border: 2px solid var(--interface-color-6);
    color: black;
}

.study_menu_btn:hover {
    background-color: var(--interface-color-7);
}

/* ----------------------------------- STUDY LIST TESTING */

.test_container {
    font-family: "Mantonico-ExtraLight";
    font-size: 20px;
    font-weight: bold;
}
.answer_option {
    width: 300px;
    background-color: lightgray;
    border: 2px solid var(--interface-color-6);
    padding: 5px;
    margin-bottom: 10px;    
    border-radius: 10px;
    cursor: pointer;
}

.test_word {
    font-size: 35px;
    color: white;
    border-color: white;
    margin-bottom: 15px;
}

.answer_option:hover {
    background-color: white;
    color: var(--interface-color-6);
}

.answer_option:has(input[type="radio"]:checked) {
    background-color: black;
    color: lightgray;
}

.test_feedback {
    height: 70px;
}


/* CARDS - START */
.slides_display {
  height: 200px;
  margin: 0 20px;
  border: 3px solid var(--interface-color-6);
  border-radius: 50px;
  background-color: lightgray;
  color: var(--interface-color-6);
  padding: 15px;
  text-align: left;

  overflow-y: auto;       /* вертикальний скрол */
  overflow-x: hidden;     /* горизонтального не буде */

  white-space: normal;    /* дозволяє перенос рядків */
  word-wrap: break-word;  /* переносить довгі слова */
  word-break: break-word; /* додатково для дуже довгих */

}

.cards_container {
    display: flex;
    justify-self: center;
    position: relative;
}

.cards_wrapper {
    margin: 50px 0 50px 0;
    display: flex;
    justify-self: center;
    justify-content: center;
    align-content: center;
    border: 2px solid var(--interface-color-6);
    border-radius: 5px;
    box-shadow: 5px 5px 10px gray;
}

.card_container {
    width: 300px;
    height: 150px;
    display:none;
    position: relative;
}

.card_container.active {
    display: block;
}

/* SLIDES */
.swiper {
  width: 100%;       
  max-width: 400px;   
}

.swiper {
      width: 300px;
      height: 150px; 

    }

    .swiper-slide {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 24px;
      background: #ccc;
    }

/* BADGES */
.card_badge {
    background-color: lightgray;
    color: var(--interface-color-6);
    border: 2px solid var(--interface-color-6);
    border-radius: 30px;
    min-width: 36px;
    position: absolute;
    top: 0;
    padding: 4px;
    box-shadow: 5px 5px 10px var(--interface-color-1);
}
.card_badge_clickable {
    width: 10px;
    transition: 0.5s all ease;
    overflow: hidden;
}



.card_badge_clickable .card_badge_text {
    display: none;
    color: transparent;
}

.card_badge_clickable:hover .card_badge_text {
    display: unset;
    color: white;
}

.card_badge_clickable:active {
    color: var(--interface-color-1);
    border-color: var(--interface-color-4);
    background-color: var(--interface-color-5);
    box-shadow: 1px 1px 3px var(--interface-color-2);
}

.badge_index {    
    left: 50%;
    top: 86%;
    transform: translateX(-50%);
    width: 60px;
    font-size: large;
}

.badge_word_level {
    left: 0;
    
}


.badge_word_level[data-word_level="A1"] {
    background-color: yellow;
}

.badge_word_level[data-word_level="A2"] {
    background-color: orange;
}

.badge_word_level[data-word_level="B1"] {
    background-color: pink;
    /* color: white; */
}

.badge_word_level[data-word_level="B2"] {
    background-color: blue;
    color: white;
}

.badge_word_level[data-word_level="C1"] {
    background-color: purple;
    color: white;
}

.badge_word_level[data-word_level="C2"] {
    background-color: green;
    color: white;
}

.badge_word_type {
left: 40px;
}

.badge_word_transcription {
    cursor: pointer;
    top: 20%;
    right: 103%;
}

.badge_word_synonims {
    cursor: pointer;
    top: 20%;
    left: 103%;
}

.badge_word_translations {
    cursor: pointer;
    top: 37%;
    right: 103%;
}

.badge_word_link {
    z-index: 1000;
    text-decoration: none;
    top: 37%;
    left: 103%;
}

.badge_word_comment {
    cursor: pointer;
    top: 55%;
    right: 103%;
}

.badge_word_categories {
    cursor: pointer;
    top: 55%;
    left: 103%;
}

.card_badge_clickable:hover {
    width: 100px;
    cursor: pointer;
    background-color: var(--interface-color-7);
    /* color: lightgray; */
    /* border-color: lightgray; */

    /* color: var(--interface-color-4);
    border-color: var(--interface-color-4);
    background-color: var(--interface-color-2); */
}



.card_badge_clickable:hover .card_badge_capital {
    font-weight: bold;
}

@media (max-width: 768px) {
  .card_badge_clickable:hover.card_badge_left {
   right: 90%;
   z-index: 1000;
}
    .card_badge_clickable:hover.card_badge_right {
   left: 90%;
   z-index: 1000;
}

}


/* BADGES ============== */

/* NAVIGATION */
.navigation_button {
    width: 60px;
    position: absolute;
    /* top: 50%; */
    font-size: xx-large;
    /* border: none; */
    /* background-color: transparent; */
    border-radius: 30px;
    border: 2px solid var(--interface-color-6);
    color: var(--interface-color-6);
    box-shadow: 5px 5px 10px var(--interface-color-1);
    background-color: lightgray;
}

.navigation_button:hover {
    
    background-color: var(--interface-color-7);
}

.navigation_button:active {
   
    background-color: lightgray;
    box-shadow: 5px 5px 10px rgba(173, 216, 230, 0.3);
}

.navigation_button_prev {
    bottom: -11px;
    left: 15%;
    transform: rotate(none);
}

@media (max-width: 768px) {
  .navigation_button_prev {
    /* bottom: -11px; */
    /* top: unset; */
    /* left: 20%; */
    transform: rotate(90deg);
  }
}

.navigation_button_next {
    right: 15%;
    bottom: -11px;
}

@media (max-width: 768px) {
  .navigation_button_next {
        /* bottom: -11px; */
        /* right: 20%; */
        transform: rotate(90deg);
  }
}

/* FLIP-CARDS */
.flip-card {
  background-color: transparent;
  width: 100%;
  height: 150px;
  perspective: 1000px;
  cursor: pointer;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  border: 1px solid var(--interface-color-2);
  color: var(--interface-color-4);
  background-color: white;
}

.flip-card.flipped .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  border: 1px solid #ccc;
  /* border-radius: 8px; */
}

.flip-card-front {
  background-color: lightgray;
  color: var(--interface-color-6);
}

.flip-card-front:hover {
    background-color: var(--interface-color-7);
    color: white;
}

.flip-card-back {
  background-color: #43596e;
  color: white;
  transform: rotateY(180deg);
}

/* CARDS - END */

