<!-- login.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Вхід</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h2>Увійти</h2>
<form method="post">
    {% csrf_token %}
    {{ login_form.as_p }}
    <button type="submit" name="login_submit">Увійти</button>
</form>
                
            </div>
        </div>
    </div>
    
<p>Ще не зареєстровані? <a href="{% url 'register' %}">Створити обліковий запис</a></p>
    
</body>
</html>