 <!-- templates/vocabulary.html -->
{% extends 'nav.html' %}

{% block title %}MAIN PAGE{% endblock %}

{% block content %}
    <h1>{{page_name}}</h1>

    
    
    <!-- BOXES WITH WORDS ==> -->
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"><strong>INFO</strong></button>    
            </h2>
            
            <div id="collapseOne" class="accordion-collapse collapse " >
                <div class="accordion-body position-relative text-start">
                        <p>Це сторінка-словник. Тут ви можете:</p>
                        <ul>
                            <li>Вивчати слова за інтервальним принципом з базовго словника, на основі списку OXFORD 5000</li>
                            
                            <li>Створити власний кастомний словник зі слів будь якої мови. За вивчені слова з кастомного словника Ви не отримуєте ігрової валюти.</li>
                        </ul>
                        <p>Як користуватись словником</p>
                        <ul>
                            <li>перед Вами 6 коробок для карток зі словами: ПОВТОР, В ПРОЦЕСІ ВИВЧЕННЯ, КОРОБКА-1, КОРОБКА-2, КОРОБКА-3, ВИВЧЕНІ</li>
                            <li>для того щоб почати заучування, активуєте коробку ВПРОЦЕСІ НАВЧАННЯ. Там є відповідна кнопка "+", натиснувши яку, відкриється мею створення списку. Там Ви можете обрати скільки слів взяти зі слів, які опинилися в ПОВТОР коробці, а скільки взяти зі слів, які ще не вивчались і мають статус НОВЕ. За замовчуванням для цих значень стоять числа вказані в налаштуваннях у Вашому профілі</li>
                            <li>Коли Ви повторно створюєте список для вивчення, слова із попереднього списку потрапляють в КОРОБКУ-1. Якщо КОРОБКА-1 заповнена, ви не зможете створити нового списка для вивчення. </li>
                            <li>Для переміщення слів далі по коробкам маєте протестувати знання слова. Ви не можете тетсувати слово одразу після його потрапляння в коробку. Воно стає доступним для вивчення через певну кількість днів. Ця кількість налаштовується в ПРОФІЛІ</li>
                            <li>В слайд інтерфейсі тестуванні слово вибирається рандомно саме з того списку, на який Ви клацнули. При тестуванні слова, якщо відповідь неправильна, слово потрапляє до коробки ПОВТОР</li>
                            <li>Коли слово з базового словника вперше потрапляє в коробку ВИВЧЕНІ Ви отримуєте певну кількість ігрової валюти. Цю валюту можна витратити на сторінці ЗБРОЯРНЯ для купівлі обладунків і розходників для арени</li>
                            <li>Коли слово знаходиться в коробці ВИВЧЕНО, раджу все одно періодично тестувати їх</li>

                        </ul>
                        
                </div>
            </div>

        </div>
        
        <!-- ================== BASIC VOCABULARY BLOCK =================== -->
         <div class="accordion-item position-relative">
            <div class="js-block-badge block_badge"> BLOCK INFO</div>
            <h2 class="accordion-header position-relative">
                <button class="accordion-button js-vocabulary-basic show collapsed"
                    type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                    aria-expanded="true"
                    aria-controls="collapseTwo"><strong>БАЗОВИЙ СЛОВНИК 'OXFORD 5000'  </strong><br><span class="js-vocabulary-basic-header"></span></button>
                
            </h2>

            <div id="collapseTwo" class="accordion-collapse collapse " >
                <div class="accordion-body position-relative">
                     <div class="container">
                        
                        <div class="row">
                            <!-- OTHER BOXES -->
                            <div class="col-12 align-content-center">
                                <div class="container">
                                    <div class="row" style="min-height: 200px;">
                                        <!-- BOX REPEAT -->
                                        <div class="col js-box box box-REPEAT position-relative " data-box="REPEAT">
                                            <svg class="box_painted_svg" width="150px" height="150px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
                                                    viewBox="0 0 54 54" xml:space="preserve">
                                                <g>
                                                    <path class="box_painted_out" style="fill:#000000;" d="M38,33.486v4.028C38,38.335,37.335,39,36.514,39H17.486C16.665,39,16,38.335,16,37.514v-4.028
                                                        C16,32.665,15.335,32,14.514,32H0.232C0.104,32,0,32.104,0,32.232v16.143C0,49.824,1.176,51,2.626,51h48.749
                                                        C52.824,51,54,49.824,54,48.374V32.232C54,32.104,53.896,32,53.768,32H39.486C38.665,32,38,32.665,38,33.486z"/>
                                                    <path class="box_painted_inside" style="fill:gray;" d="M44,3H10L0,32v0.231C0,32.104,0.104,32,0.232,32h14.282C15.335,32,16,32.665,16,33.486v4.028
                                                        C16,38.335,16.665,39,17.486,39h19.028C37.335,39,38,38.335,38,37.514v-4.028C38,32.665,38.665,32,39.486,32h14.282
                                                        C53.896,32,54,32.104,54,32.231v-0.234L44,3z"/>
                                                    <path class="box_painted_card_1" style="fill:#F2ECBF;" d="M14.514,32C15.335,32,16,32.665,16,33.486v4.028C16,38.335,16.665,39,17.486,39h19.028
                                                        C37.335,39,38,38.335,38,37.514v-4.028C38,32.665,38.665,32,39.486,32H46v-3v-5H8v5v3H14.514z"/>
                                                    <rect class="box_painted_card_2" x="11" y="16" style="fill:#D8D1AB;" width="32" height="8"/>
                                                    <rect class="box_painted_card_3" x="14" y="8" style="fill:#BAB395;" width="26" height="8"/>
                                                </g>
                                                <text class="js-box-text-REPEAT" x="50%" y="85%" text-anchor="middle" dominant-baseline="middle" font-size="8" fill="white"></text>
                                            </svg>
                                        </div>

                                        <!-- BOX-PROCESS -->
                                        <div class="col js-box box box-PROCESS  position-relative"  data-box="PROCESS">
                                            <!-- <span class="js-box-text-PROCESS position-absolute"></span> -->
                                            <svg class="box_painted_svg" width="150px"  height="150px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
                                                viewBox="0 0 54 54" xml:space="preserve">
                                                <g>
                                                    <path class="box_painted_out" style="fill:#1081E0;" d="M38,33.486v4.028C38,38.335,37.335,39,36.514,39H17.486C16.665,39,16,38.335,16,37.514v-4.028
                                                        C16,32.665,15.335,32,14.514,32H0.232C0.104,32,0,32.104,0,32.232v16.143C0,49.824,1.176,51,2.626,51h48.749
                                                        C52.824,51,54,49.824,54,48.374V32.232C54,32.104,53.896,32,53.768,32H39.486C38.665,32,38,32.665,38,33.486z"/>
                                                    <path class="box_painted_inside" style="fill:#13649B;" d="M44,3H10L0,32v0.231C0,32.104,0.104,32,0.232,32h14.282C15.335,32,16,32.665,16,33.486v4.028
                                                        C16,38.335,16.665,39,17.486,39h19.028C37.335,39,38,38.335,38,37.514v-4.028C38,32.665,38.665,32,39.486,32h14.282
                                                        C53.896,32,54,32.104,54,32.231v-0.234L44,3z"/>
                                                    <path class="box_painted_card_1" style="fill:#F2ECBF;" d="M14.514,32C15.335,32,16,32.665,16,33.486v4.028C16,38.335,16.665,39,17.486,39h19.028
                                                        C37.335,39,38,38.335,38,37.514v-4.028C38,32.665,38.665,32,39.486,32H46v-3v-5H8v5v3H14.514z"/>
                                                    <rect class="box_painted_card_2" x="11" y="16" style="fill:#D8D1AB;" width="32" height="8"/>
                                                    <rect class="box_painted_card_3" x="14" y="8" style="fill:#BAB395;" width="26" height="8"/>
                                                </g>
                                                <text class="js-box-text-PROCESS" x="50%" y="84%" text-anchor="middle" dominant-baseline="middle" font-size="8" fill="white"></text>
                                            </svg>
                                            <div class="box_badge">
                                                <div class="js-study_list_date_container box_badge_item " >I</div>
                                                <div class="js-study-words box_badge_item" data-tooltip="Вчити слова">L</div>
                                                <div class="js-create-list box_badge_item" data-tooltip="Створити новий список слів">+ </div>
                                                
                                            </div>
                                            
                                        </div>
                                       
                                        <!-- BOX-1 -->                                      
                                        <div class="js-box box col box-BOX_1  position-relative " data-box="BOX_1" data-next-box="BOX_2">
                                            
                                            <svg class="box_painted_svg" width="150px"  height="150px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
                                                viewBox="0 0 54 54" xml:space="preserve">
                                                <g>
                                                    <path class="box_painted_out" style="fill:goldenrod;" d="M38,33.486v4.028C38,38.335,37.335,39,36.514,39H17.486C16.665,39,16,38.335,16,37.514v-4.028
                                                        C16,32.665,15.335,32,14.514,32H0.232C0.104,32,0,32.104,0,32.232v16.143C0,49.824,1.176,51,2.626,51h48.749
                                                        C52.824,51,54,49.824,54,48.374V32.232C54,32.104,53.896,32,53.768,32H39.486C38.665,32,38,32.665,38,33.486z"/>
                                                    <path class="box_painted_inside" style="fill:darkgoldenrod;" d="M44,3H10L0,32v0.231C0,32.104,0.104,32,0.232,32h14.282C15.335,32,16,32.665,16,33.486v4.028
                                                        C16,38.335,16.665,39,17.486,39h19.028C37.335,39,38,38.335,38,37.514v-4.028C38,32.665,38.665,32,39.486,32h14.282
                                                        C53.896,32,54,32.104,54,32.231v-0.234L44,3z"/>
                                                    <path class="box_painted_card_1" style="fill:#F2ECBF;" d="M14.514,32C15.335,32,16,32.665,16,33.486v4.028C16,38.335,16.665,39,17.486,39h19.028
                                                        C37.335,39,38,38.335,38,37.514v-4.028C38,32.665,38.665,32,39.486,32H46v-3v-5H8v5v3H14.514z"/>
                                                    <rect class="box_painted_card_2" x="11" y="16" style="fill:#D8D1AB;" width="32" height="8"/>
                                                    <rect class="box_painted_card_3" x="14" y="8" style="fill:#BAB395;" width="26" height="8"/>
                                                </g>
                                                <text class="js-box-text-BOX_1" x="50%" y="84%" text-anchor="middle" dominant-baseline="middle" font-size="8" fill="white"></text>
                                            </svg>
                                            <div class=" box_badge">
                                                <div class="js-test box_badge_item" data-tooltip="Кількість слів які попали в цей бокс не менше 5 днів назад"></div>
                                            </div>
                                        </div>

                                        <!-- BOX-2 -->
                                        <div class="col js-box box box-BOX_2 position-relative " data-box="BOX_2" data-next-box="BOX_3">
                                            
                                            <svg class="box_painted_svg" width="150px" height="150px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
                                                    viewBox="0 0 54 54" xml:space="preserve">
                                                <g>
                                                    <path class="box_painted_out" style="fill:rgb(200, 106, 203);" d="M38,33.486v4.028C38,38.335,37.335,39,36.514,39H17.486C16.665,39,16,38.335,16,37.514v-4.028
                                                        C16,32.665,15.335,32,14.514,32H0.232C0.104,32,0,32.104,0,32.232v16.143C0,49.824,1.176,51,2.626,51h48.749
                                                        C52.824,51,54,49.824,54,48.374V32.232C54,32.104,53.896,32,53.768,32H39.486C38.665,32,38,32.665,38,33.486z"/>
                                                    <path class="box_painted_inside" style="fill:rgb(81, 4, 90);" d="M44,3H10L0,32v0.231C0,32.104,0.104,32,0.232,32h14.282C15.335,32,16,32.665,16,33.486v4.028
                                                        C16,38.335,16.665,39,17.486,39h19.028C37.335,39,38,38.335,38,37.514v-4.028C38,32.665,38.665,32,39.486,32h14.282
                                                        C53.896,32,54,32.104,54,32.231v-0.234L44,3z"/>
                                                    <path class="box_painted_card_1" style="fill:#F2ECBF;" d="M14.514,32C15.335,32,16,32.665,16,33.486v4.028C16,38.335,16.665,39,17.486,39h19.028
                                                        C37.335,39,38,38.335,38,37.514v-4.028C38,32.665,38.665,32,39.486,32H46v-3v-5H8v5v3H14.514z"/>
                                                    <rect class="box_painted_card_2" x="11" y="16" style="fill:#D8D1AB;" width="32" height="8"/>
                                                    <rect class="box_painted_card_3" x="14" y="8" style="fill:#BAB395;" width="26" height="8"/>
                                                </g>
                                                <text class="js-box-text-BOX_2" x="50%" y="84%" text-anchor="middle" dominant-baseline="middle" font-size="8" fill="white"></text>
                                            </svg>
                                            <div class=" box_badge">
                                                <div class="js-test box_badge_item" ></div>
                                            </div>
                                        </div>

                                        <!-- BOX-3 -->
                                        <div class="col js-box box box-BOX_3 position-relative" data-box="BOX_3" data-next-box="LEARNT">
                                            
                                            <svg class="box_painted_svg" width="150px" height="150px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
                                                    viewBox="0 0 54 54" xml:space="preserve">
                                                <g>
                                                    <path class="box_painted_out" style="fill:#A67B5B;" d="M38,33.486v4.028C38,38.335,37.335,39,36.514,39H17.486C16.665,39,16,38.335,16,37.514v-4.028
                                                        C16,32.665,15.335,32,14.514,32H0.232C0.104,32,0,32.104,0,32.232v16.143C0,49.824,1.176,51,2.626,51h48.749
                                                        C52.824,51,54,49.824,54,48.374V32.232C54,32.104,53.896,32,53.768,32H39.486C38.665,32,38,32.665,38,33.486z"/>
                                                    <path class="box_painted_inside" style="fill:#6F4E37;" d="M44,3H10L0,32v0.231C0,32.104,0.104,32,0.232,32h14.282C15.335,32,16,32.665,16,33.486v4.028
                                                        C16,38.335,16.665,39,17.486,39h19.028C37.335,39,38,38.335,38,37.514v-4.028C38,32.665,38.665,32,39.486,32h14.282
                                                        C53.896,32,54,32.104,54,32.231v-0.234L44,3z"/>
                                                    <path class="box_painted_card_1" style="fill:#F2ECBF;" d="M14.514,32C15.335,32,16,32.665,16,33.486v4.028C16,38.335,16.665,39,17.486,39h19.028
                                                        C37.335,39,38,38.335,38,37.514v-4.028C38,32.665,38.665,32,39.486,32H46v-3v-5H8v5v3H14.514z"/>
                                                    <rect class="box_painted_card_2" x="11" y="16" style="fill:#D8D1AB;" width="32" height="8"/>
                                                    <rect class="box_painted_card_3" x="14" y="8" style="fill:#BAB395;" width="26" height="8"/>
                                                </g>
                                                <text class="js-box-text-BOX_3" x="50%" y="84%" text-anchor="middle" dominant-baseline="middle" font-size="8" fill="white"></text>
                                            </svg>
                                            <div class=" box_badge">
                                                <div class="js-test box_badge_item" ></div>
                                            </div>
                                        </div>
                                        <!-- BOX-LEARNT -->
                                        <div class="col js-box box box-LEARNT position-relative" data-operation-area="js-operating-testing" data-box="LEARNT">
                                           
                                            <svg class="box_painted_svg" width="150px" height="150px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
                                                    viewBox="0 0 54 54" xml:space="preserve">
                                                <g>
                                                    <path class="box_painted_out" style="fill:green;" d="M38,33.486v4.028C38,38.335,37.335,39,36.514,39H17.486C16.665,39,16,38.335,16,37.514v-4.028
                                                        C16,32.665,15.335,32,14.514,32H0.232C0.104,32,0,32.104,0,32.232v16.143C0,49.824,1.176,51,2.626,51h48.749
                                                        C52.824,51,54,49.824,54,48.374V32.232C54,32.104,53.896,32,53.768,32H39.486C38.665,32,38,32.665,38,33.486z"/>
                                                    <path class="box_painted_inside" style="fill:darkgreen;" d="M44,3H10L0,32v0.231C0,32.104,0.104,32,0.232,32h14.282C15.335,32,16,32.665,16,33.486v4.028
                                                        C16,38.335,16.665,39,17.486,39h19.028C37.335,39,38,38.335,38,37.514v-4.028C38,32.665,38.665,32,39.486,32h14.282
                                                        C53.896,32,54,32.104,54,32.231v-0.234L44,3z"/>
                                                    <path class="box_painted_card_1" style="fill:#F2ECBF;" d="M14.514,32C15.335,32,16,32.665,16,33.486v4.028C16,38.335,16.665,39,17.486,39h19.028
                                                        C37.335,39,38,38.335,38,37.514v-4.028C38,32.665,38.665,32,39.486,32H46v-3v-5H8v5v3H14.514z"/>
                                                    <rect class="box_painted_card_2" x="11" y="16" style="fill:#D8D1AB;" width="32" height="8"/>
                                                    <rect class="box_painted_card_3" x="14" y="8" style="fill:#BAB395;" width="26" height="8"/>
                                                </g>
                                                <text class="js-box-text-LEARNT" x="50%" y="84%" text-anchor="middle" dominant-baseline="middle" font-size="8" fill="white"></text>
                                            </svg>
                                             <div class=" box_badge">
                                                <div class="js-test box_badge_item" data-bs-toggle="modal" data-bs-target="#staticBackdrop" ></div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END BOXES WITH WORDS -->
        


    <!-- TOAST -->
     <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header text-center">
            <!-- <img src="..." class="rounded me-2" alt="..."> -->
            <strong class="me-auto ">СТВОРЕННЯ НОВОГО СПИСКУ СЛІВ</strong>
            <small></small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
            Новий список слів створено успішно!
            </div>
        </div>
    </div>
     <!-- TOAST -->
      
     


<!-- SLIDE BLOCKS -->
     <!-- SLIDE BLOCK CREATE STUDY LIST-->
    <div class="js-slide-block-create-list slide_block">
        <button class="js-slide-block-hide">CLOSE</button>
        <label for="">Take
                                    <input id="number_rep_words" type="number" value="0" > words from REPEAT BOX
                                </label><br>
                                <label for="">Take
                                    <input id="number_new_words" type="number" value="0"> words from NEW words
                                </label>
                                <button  class="js-create-new-list " >Створити список</button>
    </div>
    <!-- SLIDE BLOCK STUDY-->
    <div class="js-slide-block-study slide_block  oper_area oper_area_study justify-content-center">
        <button class="js-slide-block-hide">CLOSE</button> 
        <div class="position-relative align-self-center cards_container">
           <button class="js-previous-card navigation_button navigation_button_prev">
                ⮜
            </button>
            <div class="js-flip-card-container cards_wrapper"></div>
            <button class="js-next-card navigation_button navigation_button_next">
                ⮞
            </button>
        </div>                 
    </div> 
    <!--SLIDE BLOCK TEST WORDS  -->
    <div class="js-slide-block-testing slide_block">
        <div class="js-slide-title"></div>
        <button class="js-slide-block-hide"> close</button>
        <p>Коли Ви натискаєте НЕКСТ відбувається пошук серед слів у відповідній коробці, які сьогодні не міняли свого статусу. Тобто якщо слово попало в цю коробку сьогодні, Вам його не видасть.</p>
        <button class="js-next-word"> Next word</button>
        <p class="js-show-word"></p>
        <input class="js-input-answer" type="text" data-word-id="" data-word-box="">
        <button class="js-test-answer"> TEST</button>
        <div class="js-feedback"></div>
    </div>
{% endblock %}