:root {
  --interface-color-1: rgb(173, 216, 230);
  --interface-color-2: darkred;
}

/* NAVIGATION */
.nav_icon_container {
  height: 200px;
}

.nav_link {
  text-decoration: none;
}

.nav_link:hover {
  color: gray;
}

.nav_icon_wrapper {
  margin-bottom: 30px;
}

.nav_icon_text {
  display: none;
}

.nav_icon_wrapper:hover .nav_icon_text {
  display: block;
}

.nav_icon {
    width: 100px;
    height: 100px;
    margin-bottom: 0;
    padding-bottom: 0;
    /* transition: 3s ; */
}

.nav_icon:hover {
     fill: var(--interface-color-1);
     stroke: var(--interface-color-1);
    /* box-shadow: 5px 5px 10px rgba(173, 216, 230, 0.3); */
    cursor: pointer;
    transform: rotatez(5deg);
   
}

.nav_icon:active {
    fill: white
    
}

.nav_icon_open {
    fill: darkred;
    stroke: darkred;
    fill: rgb(173, 216, 230);
     stroke: rgb(173, 216, 230);
}

/*============================= */













