/* NAVIGATION */
.nav_icon_container {
  height: 200px;
}

.nav_link {
  text-decoration: none;
}

.nav_link:hover {
  color: gray;
}

.nav_icon_wrapper {
  margin-bottom: 30px;
}

.nav_icon_text {
  display: none;
}

.nav_icon_wrapper:hover .nav_icon_text {
  display: block;
}

.nav_icon {
    width: 100px;
    height: 100px;
    margin-bottom: 0;
    padding-bottom: 0;
    /* transition: 3s ; */
}

.nav_icon:hover {
    /* fill: darkred; */
    fill: darkred;
    stroke: darkred;
    cursor: pointer;
    transform: rotatez(5deg);
   
}

.nav_icon:active {
    fill: white
    
}

.nav_icon_open {
    fill: darkred;
    stroke: darkred;
}

/*============================= */













